<div class="section" id="home">
    <!-- SLIDER -->
    <ul id="main-slider">


        <li><img src="{{ asset('assets/images/slider/1.jpg') }}" alt="Elegance"></li>
        <li><img src="{{ asset('assets/images/slider/2.jpg') }}" alt="Elegance"></li>
        <li><img src="{{ asset('assets/images/slider/3.jpg') }}" alt="Elegance"></li>
    </ul>
</div>
<div class="spacer-80"></div>