<div class="section" id="home">
    <!-- SLIDER -->
    <ul id="main-slider">


        <li><img src="{{ asset('assets/images/slider/_U8A1985.jpg') }}" alt="Elegance">test</li>
        {#<li><img src="{{ asset('assets/images/slider/_U8A1741.jpg') }}" alt="Elegance"></li>#}
        {#<li><img src="{{ asset('assets/images/slider/5.jpg') }}" alt="Elegance"></li>#}
    </ul>
</div>
<div class="spacer-80"></div>