{% extends 'base.html.twig' %}

{% block header %}

    <div class="title title-club">
        <div class="container">
            <h1>Workout-Programs</h1>
        </div>
    </div>

{% endblock %}

{% block body %}
    <!-- begin Content -->
    <section>



    </section>
    <!-- end Content -->
{% endblock %}
