{% extends 'base.html.twig' %}
{% block header %}
    <div class="title title-club">
        <div class="container">
            <h1>Workout-Programs</h1>
        </div>
    </div>
{% endblock %}
{% block body %}
    <!-- begin Content -->
    <div class="spacer-40"></div>
    <div class="section">
        <div class="container project-page">
            <div class="white-box-top-0 center">
                <div class="row justify-content-center container-sm">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="digital-flyer">
                            <a href="#">
                                <img src="{{ asset('assets/images/fl-1.png') }}" alt="">
                                <p class="title"><strong>6 Weeks Bikiny Body Workout</strong></p>
                            </a>
                            {#<span class="old-price">$99.99</span>#}
                            <span class="new-price"><strong>$39.99</strong></span>
                            <a href="#" class="add-to-cart"><strong>ADD TO CART</strong></a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="digital-flyer">
                            <a href="#">
                                <img src="{{ asset('assets/images/fl-2.png') }}" alt="">
                                <p class="title"><strong>Pregnancy Workout</strong></p>
                            </a>
                            {#<span class="old-price">$99.99</span>#}
                            <span class="new-price"><strong>$79.99</strong></span>
                            <a href="#" class="add-to-cart"><strong>ADD TO CART</strong></a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="digital-flyer">
                            <a href="#">
                                <img src="{{ asset('assets/images/fl-3.png') }}" alt="">
                                <p class="title"><strong>The fit diet</strong></p>
                            </a>
                            {#<span class="old-price">$99.99</span>#}
                            <span class="new-price"><strong>$14.99</strong></span>
                            <a href="#" class="add-to-cart"><strong>ADD TO CART</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Content -->
{% endblock %}
