{% extends 'base.html.twig' %}

{% block header %}

    <div class="title title-club">
        <div class="container">
            <h1>Workout-Programs</h1>
        </div>
    </div>

{% endblock %}

{% block body %}
    <!-- begin Content -->
    <div class="spacer-40"></div>
    <div class="section">
        <div class="container project-page">
            <div class="white-box-top-0 center">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a href="#" class="digital-flyer"><img src="{{ asset('assets/images/f_1.jpeg') }}" alt=""></a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a href="#" class="digital-flyer"><img src="{{ asset('assets/images/f_2.jpeg') }}" alt=""></a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a href="#" class="digital-flyer"><img src="{{ asset('assets/images/f_3.jpeg') }}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Content -->
{% endblock %}
