<!-- begin About the Club-->
<article class="about">
    <div class="container">
        <h2>About the Club</h2>
        <div class="row">
            <div class="col-md-4 col-sm-7">
                <figure><img src="{{ asset('assets/img/about/high01.jpg') }}" alt="//"></figure>
            </div>
            <div class="col-md-3 col-sm-5">
                <figure><img src="{{ asset('assets/img/about/high02.jpg') }}" alt="//"></figure>
                <figure><img src="{{ asset('assets/img/about/high03.jpg') }}" alt="//"></figure>
            </div>
            <div class="col-md-5 col-sm-12">
                <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga quos amet dolorem sapiente, laborum soluta sequi molestiae, ipsum suscipit obcaecati at illum earum, quibusdam adipisci deserunt voluptates harum commodi.</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut expedita vel possimus sunt tempore facere quas, adipisci officiis conseqibusdam quidem ullam, odio omnis repellendus est debitis. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>Beatae ipsum ex deleniti mouuntur dolorum animi dolor qulestiae nulla sequi molestias sit quia.</p>

            </div>
        </div>
    </div>
</article>
<!-- end About the Club-->