<!-- begin About the Club-->
<article class="about">
    <div class="container">
        <h2>Anca Marcus</h2>
        <div class="row">
            <div class="col-md-4 col-sm-7">
                <figure><img src="{{ asset('assets/img/paper/p4.jpg') }}" alt="//"></figure>
            </div>
            <div class="col-md-3 col-sm-5">
                <figure><img src="{{ asset('assets/img/paper/p2.jpg') }}" alt="//"></figure>
                <figure><img src="{{ asset('assets/img/paper/p3.jpg') }}" alt="//"></figure>
            </div>
            <div class="col-md-5 col-sm-12">
                <p><strong>You are the one that possesses the keys to your being. You carry the passport to your own happiness.</strong></p>
                <p>Let's get together to the next level.</p>

            </div>
        </div>
    </div>
</article>
<!-- end About the Club-->