<!-- begin Programs -->
<article class="programs">
    <div class="container">
        <h2>Programs</h2>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#" class="programs-item">
                    <span class="icon"><i class="icon-clock"></i></span>
                    <h4>Time to Run</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum itaque, quis nesciunt.</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="programs-item">
                    <span class="icon"><i class="icon-user"></i></span>
                    <h4>Meet People</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum itaque, quis nesciunt.</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="programs-item">
                    <span class="icon"><i class="icon-heart-empty"></i></span>
                    <h4>Cardio GYM</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum itaque, quis nesciunt.</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="programs-item">
                    <span class="icon"><i class="icon-dribbble"></i></span>
                    <h4>Basketball</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum itaque, quis nesciunt.</p>
                </a>
            </div>
        </div>
    </div>
</article>
<!-- end Programs -->