<!-- begin Trainers -->
<article class="trainers">
    <div class="container">
        <a href="#" class="btn btn-all">View all <i class="icon-right-open-mini"></i></a>
        <h2>Personal trainers</h2>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#" class="trainers-home-item"><figure>
                        <img src="{{ asset('assets/img/trainers/trainer01.jpg') }}" alt="//">
                        <figcaption>
                            <i class="icon-user"></i>
                            <h4>Mary Cafry</h4>
                            <span>Crossfit Personal Trainer</span>
                        </figcaption>
                    </figure></a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="trainers-home-item"><figure>
                        <img src="{{ asset('assets/img/trainers/trainer02.jpg') }}" alt="//">
                        <figcaption>
                            <i class="icon-user"></i>
                            <h4>Lisa Smithson</h4>
                            <span>Crossfit Personal Trainer</span>
                        </figcaption>
                    </figure></a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="trainers-home-item"><figure>
                        <img src="{{ asset('assets/img/trainers/trainer03.jpg') }}" alt="//">
                        <figcaption>
                            <i class="icon-user"></i>
                            <h4>Patrick Gates</h4>
                            <span>Crossfit Personal Trainer</span>
                        </figcaption>
                    </figure></a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="trainers-home-item"><figure>
                        <img src="{{ asset('assets/img/trainers/trainer04.jpg') }}" alt="//">
                        <figcaption>
                            <i class="icon-user"></i>
                            <h4>Rose Selton</h4>
                            <span>Crossfit Personal Trainer</span>
                        </figcaption>
                    </figure></a>
            </div>
        </div>
    </div>
</article>
<!-- end Team -->