{% extends 'base.html.twig' %}


{% block body %}

    <div class="spacer-160"></div>
    <div class="section" id="services">
        <div class="container center services">
            <div class="title">Trainer Bio</div>
        </div>
    </div>
    <!-- begin Content -->
    <div class="spacer-80"></div>



    <section style="background-color: #FFFFFF;">
        <!-- begin Trainers -->
        <article class="trainers trainers-single">
            <div class="container">
                {% include 'Bio/blocks/_trainer.html.twig' %}
            </div>
        </article>
        <!-- end Trainers -->
    </section>
    <!-- end Content -->
{% endblock %}
