{% extends 'base.html.twig' %}
{% block body %}
    {% include 'CommonElements/_slider_css.html.twig' %}
    <div class="section">
        <div class="container project-page">
            <div class="white-box center">
                <div class="row">
                    <div class="col-md-12 project-info">
                        <div class="title">Trainer Bio</div>
                        <ul>
                            <li class="description">
                                {% include 'Bio/blocks/_bio_text.html.twig' %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
