{% extends 'base.html.twig' %}
{% block body %}
  <div class="spacer-40"></div>
  <div class="section">
    <div class="container project-page">
      <div class="white-box-top-0 center">
        <div class="row">
          <div class="col-md-12 project-info">
            <div class="title">Bio</div>
            <ul>
              <li class="description">
                {% include 'Bio/blocks/_bio_text.html.twig' %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
