@charset "utf-8";

a:hover {
    color: #fbfbfb;
}
article p a {
    color: #fbfbfb;
}
article>ul>i {
    color: #fbfbfb;
}
blockquote {
    border-left: 10px solid #fbfbfb;
}
h3 {
    color: #fbfbfb;
}
.btn.btn-all:hover {
    background-color: #fbfbfb;
}
.btn.btn-filters:hover {
    color: #fbfbfb;
}
.btn.btn-filters.active {
    border-color: #fbfbfb;
    color: #fbfbfb;
}
.btn.btn-foot-news {
    background-color: #fbfbfb;
}
.btn.btn-form {
    border-color: #66808c;
    color: #66808c;
}
.btn.btn-pricing i {
    background-color: #fbfbfb;
}
.btn.btn-sidebar,
.btn.btn-more {
    border: 2px solid #fbfbfb;
    color: #fbfbfb;
}
.btn.btn-sidebar:hover,
.btn.btn-more:hover {
    background-color: #fbfbfb;
}
.btn.btn-sidebar:hover,
.btn.btn-more:hover {
    background-color: #fbfbfb;
}
.btn.btn-sidebar.alt:hover,
.btn.btn-more.alt:hover {
    color: #fbfbfb;
}
.btn.btn-slider {
    background-color: #fbfbfb;
}
.btn.btn-video:hover,
.btn.btn-testimonials:hover {
    background-color: #fbfbfb;
}
.btn.btn-testimonials {
    border: 2px solid #fbfbfb;
    color: #fbfbfb;
}
.btn.btn-testimonials:hover {
    background-color: #fbfbfb;
}
.classes.two-columns .classes-item span i {
    color: #fbfbfb;
}
.classes-home ul li.active a h5,
.classes-home ul li.active a p {
    color: #fbfbfb;
}
.classes-home ul li a:hover h5 {
    color: #fbfbfb;
}
.panel-group .panel-title>a:hover {
    color: #fbfbfb;
}
.panel-group .panel-title>a:hover i {
    color: #fbfbfb;
}
.panel-group .panel-title>a i {
    color: #fbfbfb;
}
.contact address i {
    color: #fbfbfb;
}
.error-404 h4{
    color: #F63;
}
.events .color-orange{
    color: #F63;
}
.highlights p a {
    /*background-color: #fbfbfb;*/
    background-color:rgba(223, 223, 223,0.8);
}
.image-hover figure i {
    border: 1px solid #fbfbfb;
    color: #fbfbfb;
}
.navbar .navbar-nav .dropdown-menu>li.active>a,
.navbar .navbar-nav .dropdown-menu>li>a:hover {
    border-left-color: #fbfbfb;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:active {
    border-top-color: #fbfbfb;
}
.navbar .navbar-nav li.active a {
    border-top-color: #dfdfdf;
}
.news-item:hover h2 {
    color: #fbfbfb;
}
.news-one h6 a {
    color: #fbfbfb;
}
.comments-item .reply-link {
    color: #fbfbfb;
}
.pagination>li>a:hover,
.pagination>li.active>a {
    border-color: #fbfbfb;
    color: #fbfbfb;
}
.partners .owl-theme .owl-controls .owl-buttons div:hover {
    background-color: #fbfbfb;
    border-color: #fbfbfb;
}
.pricing-item:hover li:first-child {
    background-color: #fbfbfb;
}
.pricing-item li:first-child span {
    color: #fbfbfb;
}
.pricing-item li:first-child strong {
    color: #fbfbfb;
}
.programs-item:hover h4 {
    color: #fbfbfb;
}
.programs-item:hover .icon {
    color: #fbfbfb;
}
.programs-item .icon {
    background-color: #fbfbfb;
    border: 3px solid #fbfbfb;
}
.progress .progress-bar {
    background-color: #fbfbfb;
}
.menu-search input[type="text"]:hover {
    border-top: 3px solid #fbfbfb;
}
.menu-search input[type="text"]:focus:hover {
    border-top: 3px solid #fbfbfb;
}
.menu-search input[type="text"]:focus {
    border-top: 3px solid #fbfbfb;
}
.sidebar h5 {
    border-left: 3px solid #fbfbfb;
}
.brouche .get-brouche {
    color: #fbfbfb;
}
.categories i {
    color: #fbfbfb;
}
.popular li a:hover h6 {
    color: #fbfbfb;
}
.form-suscribe {
    background-color: #fbfbfb;
}
.form-suscribe .form-control:-moz-placeholder,
.form-suscribe .form-control:-ms-input-placeholder,
.form-suscribe .form-control::-moz-placeholder,
.form-suscribe .form-control::-webkit-input-placeholder {
    color: #fbfbfb;
}
.star span {
    color: #F63;
}
.single-item-info .social li a:hover{
    color: #F63;
}
.single-item-info .btn.btn-mini{
    border: 2px solid #F63;
    color: #F63;
}
.single-item-info .btn.btn-mini:hover{
    background-color: #F63;
}
.nav-tabs>li.active>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    color: #fbfbfb;
}
.tags li a:hover {
    background-color: #fbfbfb;
    border: 1px solid #fbfbfb;
}
.trainers-home-item:hover figcaption {
    background-color: #fbfbfb;
}
.trainers-home-item:hover figcaption i {
    background-color: #fbfbfb;
}
.trainers-mini-item .social li a:hover {
    color: #fbfbfb;
}
.trainers-item h3 a:hover {
    color: #fbfbfb;
}
.trainers-item .social a:hover {
    color: #fbfbfb;
}
.trainers-single .social li a:hover {
    color: #fbfbfb;
}
.event-day{
    background: #fbfbfb;
}
.img-wrap .onsale {
    background: #fbfbfb;
}
figure .icons .btn.btn-image {
    background-color: #fbfbfb;
    border: 2px solid #fbfbfb;
}
figure .icons-2 .btn.btn-image:hover {
    border: 2px solid #fbfbfb;
    color: #fbfbfb;
}
.filters .slider-range .slider.slider-horizontal .slider-track {
    background: #fbfbfb;
}
.filters .slider-range .slider.slider-horizontal .slider-handle {
    border: 5px solid #fbfbfb;
}
.filters .slider-range .slider-selection{
    background: #fbfbfb;
}
/*rgba*/
.carousel-control:hover {
    background-color: rgba(255,102,51,0.7);
}
.classes-home .tab-content figure figcaption:after {
    border-color: transparent rgba(255,102,51,0.7) transparent transparent;
}
.popular li a figure:before {
    background-color: rgba(255,102,51,0.7);
}
.flickr-feed li a:before {
    background-color: rgba(255,102,51,0.7);
}








