{% extends 'base.html.twig' %}

{% block body %}
{#<section>#}
    {#{% include 'Homepage/blocks/_about.html.twig' %}#}
    {#{% include 'Homepage/blocks/_programs.html.twig' %}#}
    {#{% include 'Homepage/blocks/_trainers.html.twig' %}#}
{#</section>#}
    {% include 'Header/_slider.html.twig' %}
    {% include 'Homepage/blocks/_about.html.twig' %}

{% endblock %}
