{% extends 'base.html.twig' %}
{% block body %}
{#<section>#}
    {#{% include 'Homepage/blocks/_about.html.twig' %}#}
    {#{% include 'Homepage/blocks/_programs.html.twig' %}#}
    {#{% include 'Homepage/blocks/_trainers.html.twig' %}#}
{#</section>#}

<div class="section homepage-bg" >
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-md-12 project-info">

                    <div class="info">
                        <div class="txt1">Realign the perception</div>
                        <div class="txt2">No matter how slow you go... <br />You are still lapping everyone on the couch!</div>
                        <div class="mt-4"><button class="btn golden-btt">Workout with me</button></div>
                    </div>


                </div>
            </div>
        </div>
    </div>




</div>

    {#{% include 'Header/_slider.html.twig' %}#}
    {% include 'Homepage/blocks/_about.html.twig' %}

<div>
    <!-- SnapWidget -->
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/654710" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
</div>
{% endblock %}
