<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}{% endblock %}</title>
  {% block stylesheets %}
    <link href="{{ asset('assets/css/admin.css') }}" rel="stylesheet">
  {% endblock %}
</head>
<body>
<div class="login">
  <form method="post" role="form">
    <input type="text" value="{{ last_username }}" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
  </form>
</div>
<div class="shadow"></div>
</body>
</html>
