<div class="copy">
    <div class="container">
        <p class="top"><a href="#">Top <i class="icon-up-thin"></i></a></p>
        <p>&copy; Copyright - Extreme Theme by CoralixThemes.</p>
    </div>
</div>