{#
<div class="hours">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="map" id="map"></div>
            </div>
            <div class="col-md-4 opening-hours">
                <h3>Opening Hours</h3>
                <ul>
                    <li><p class="pull-right">05:00 AM - 10:00 PM</p><p>Monday</p></li>
                    <li><p class="pull-right">05:00 AM - 10:00 PM</p><p>Tuesday</p></li>
                    <li><p class="pull-right">05:00 AM - 10:00 PM</p><p>Wednesday</p></li>
                    <li><p class="pull-right">05:00 AM - 10:00 PM</p><p>Thursday</p></li>
                    <li><p class="pull-right">05:00 AM - 10:00 PM</p><p>Friday</p></li>
                    <li><p class="pull-right">05:00 AM - 10:00 PM</p><p>Saturday</p></li>
                    <li><p class="pull-right">Closed</p><p>Saunday</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>#}
