<div class="info">
    <div class="container">
        <div class="row">

            {#<div class="col-md-2 col-sm-4">
                <h4>Classes</h4>
                <ul class="classes-list">
                    <li><a href="#"><i class="icon-plus"></i>Tennis</a></li>
                </ul>
            </div>#}

            <div class="col-md-3 col-sm-8">
                {#<h4>About Us</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}

                <h4>Address</h4>
                <address>
                    <p><i class="icon-globe"></i>Santa Monica, California, USA</p>
                    <p><i class="icon-mobile"></i>+1 (310) 795-2020</p>
                    <p><i class="icon-mail"></i><a href="mailto:">fitness@ancamarcusfit.com</a></p>
                </address>
            </div>

            <div class="col-md-3 col-sm-6">
                <h4>Subscribe</h4>
                <p>Get in touch with me...</p>
                <form action="contact-form.php" data-ajax="1" class="foot-newsletter">
                    <input type="hidden" name="type" value="footer-newsletter">
                    <div class="form-group">
                        <label for="foot-news-email" class="sr-only">Enter a valid email</label>
                        <input type="email" class="form-control" name="foot-news-email" id="foot-news-email" placeholder="Enter a valid email" />
                    </div>
                    <button class="btn btn-foot-news" type="submit"><i class="icon-mail"></i></button>
                    <div class="form-response"></div>
                </form>

                <h4>Get Social</h4>
                <ul class="social">
                    <li><a href="https://www.facebook.com/Ancamarcusfitness/"><i class="icon-facebook"></i></a></li>
                    <li><a href="https://twitter.com/AncaMarcusfit"><i class="icon-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/ancamarcusfitness/"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <figure class="foot-logo"><img src="{{ asset('assets/img/logo.png') }}" alt="//"></figure>
                {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus porro distinctio consectetur adipisicing elit. Necessitatibus porro distinctio.</p>#}
            </div>

        </div>
    </div>
</div>