<div class="spacer-40"></div>
<div class="section" >
    <div id="slide-1" class="homeSlide">
        <div class="bcg"  data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;"  data-anchor-target="#slide-1"> </div>
    </div>
</div>