{#<article>#}
    <p>
        I was born and raised in Romania, in a city located in Transylvania, 150 miles away from Dracula’s Castle.
        My athletic family raised me where my father was an Olympic judo coach and my mother a gymnastics coach.
        Around the age of five, I started in sports and rhythmic gymnastics and loved every minute.
        For fifteen years I competed in national and international competitions, winning numerous medals and awards along the way.
    </p>
    <p>
        I attended a particular elementary school, where besides the regular teaching program,
        I also had an intense sports preparation program, offering the ability to train with the best coaches in the country, in my favourites sports.
        For as long as I can remember, my days were at school and gym, and I had my first dance show when I was three years old - of course, I was the mascot of the event!
    </p>

    <p>
        <img class="bioImg d-block img-fluid img-fluid" src="{{ asset('assets/images/trainers/trainer-anca.jpg') }}" alt="Anca Marcus">
        School and Gym were pretty much everything I knew and played with the kids my age was something rare.
        My training in gymnastics required extreme dedication hence I didn’t have the time to be a “normal” player with the kids.
        I loved the gym so much that even when I wasn’t practising my competitive routines,
        I was climbing ropes and jumping on the mattresses in the gym where my dad was training his Judo athletes.
    </p>
    <p>
        I spent most of my summers at camp training, running on the sand and swimming laps in the black sea and my winters running uphill in the snow, ice skating and skiing.
        As I grew older, I realised that my love of sports wouldn’t last forever, so when I went off to university, I decided to obtain a degree in economics.
        I also had a passion for languages and became fluent in four.
    </p>
    <p>
        Upon graduating from university, I decided to leave Romania and try to achieve my dreams in a different sport: fitness.
        I always knew that I wanted to be a fitness model and came to the realisation that my goal would only be possible in the USA Leaving my country wasn’t easy for me at all because it meant that I would let my family, friends and everything I knew and loved behind.
    </p>
    <p>
        Not knowing exactly where to go, I took the opportunity to travel a lot, and after seeing so many places in the world and meeting so many people,
        I fell in love with LA and everything that the city has to offer to its hard-working people who believe in themselves and don’t give up easily.
        I decided to give a shot at my fitness goal and started to train hard to improve my body and get where I wanted to be.
        After a few years of intense training, lifting weights, sweating, commitment and dedication, I was ready to take the stage and show what I had trained so hard to achieve.
    </p>
    <p>
        I competed in different fitness shows like:
        <br>
        <strong>- Miss Bikini America</strong>
        <br>
        <strong>- Miss Bikini Universe</strong>
        <br>
        <strong>- NPC Bikini Competition</strong>
    </p>
    <p>
        I always placed in the top 10, but it wasn’t until I won the first (the very first competition for this newly introduced division in the International Federation of Body Building) and left as the overall Champion that I told myself, “This is it, this is what I want to do!”
        After competing in the NPC shows and winning, I became an IFBB Pro Athlete and continued to fight until I made it to the Olympia: the biggest stage in the world in the fitness industry and a once in a lifetime experience.
        Competing in the fitness industry gave me the opportunity to be seen which lead to modelling offers from some fantastic fitness magazines like Flex, Muscle and Fitness Hers, Planet Muscle, and American Curves.  I also got to do some fun infomercials for fitness equipment, sponsorships and other great things.
    </p>
    <p>
        Living in Los Angeles and having a fit physique ready for castings and jobs at any time gave me the opportunity to work with some large modelling agencies as a Body Double for some of the biggest names in the entertainment industry - stars like Angelina Jolie, J Lo, and Cortney Cox.  I also got jobs dancing on some TV shows and, most outrageous of all, I played American Football in a super fun, active, and famous TV project called The Lingerie Bowl.
    </p>
    <p>
        While training for competitions and making a living as a fitness model, I decided to become a personal trainer to fulfil another big dream of mine. Growing up with both my parents as sports coaches and knowing their love and passion for the sports, health and their students, I wanted to do the same!  I have dedicated my life doing what I love, what I am most passionate about, to help and teach others, to inspire and spread the word through my knowledge and experience, and motivate as many people as possible.
        <p>- I believe that fitness and a healthy diet are the only ways to a healthy body, a sharp mind and longevity.</p>
        <p>- I believe that our body is our temple.</p>
        <p>- I believe that this body is the only one we have to carry us for the rest of our lives so together let’s take care of it, cherish it and make it the best it can be!</p>
    </p>
    <p>
        The best thing I can do for you, my ladies, is to have my programs available for you - and when I say accessible, I also mean <strong>AFFORDABLE</strong>!
        I want you all to be able to have access to them!
        I have a following incredible club of Romanian ladies and because the prices there can’t compete with the
        prices in the U.S.A. I want to make sure that the cost of the workout <strong>IS NOT THE ISSUE OF WHY YOU DON’T WORKOUT</strong>!
    </p>
    <p>
        Because there is only one of me and I can’t train you all, (even though I would love to ☺),
        I created this Online Workout Program with hundreds of exercises - <strong>ALL DEMONSTRATED BY ME</strong> - that will whip you into shape
        the same way I would train you if I was there with you! These exercises are my best picks.
        The activities I’ve been doing for years and the ones that I know work for <strong>US WOMEN</strong>!
        Based on my entire experience as a gymnast, as a professional athlete, trainer, woman and mom I am 100% confident that if you “listen“ and “do it“ you’ll get where you want to be,
        you’ll reach your fitness goals and become <strong>THE BEST VERSION OF YOU</strong>!
    </p>

{#</article>#}