<div class="row">
    <div class="col-md-4 col-sm-6">
        <figure>
            <img src="{{ asset('assets/img/trainers/trainer-alone.jpg') }}" alt="//">
        </figure>
    </div>
    <div class="col-md-8 col-sm-6">
        <h2>Mike Smithson</h2>
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga quos amet dolorem sapiente, laborum soluta sequi molestiae, ipsum suscipit obcaecati at illum earum.</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut expedita vel possimus sunt tempore facere quas, adipisci officiis consequuntur dolorum animi dolor quibusdam quidem ullam.</p>

        <h6 class="progress-bar-title">Trainer Profile</h6>
        <p>Boxing</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                <span>77%</span>
            </div>
        </div>

        <p>Salsa Calsses</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                <span>98%</span>
            </div>
        </div>

        <p>Retro Yoga</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
                <span>87%</span>
            </div>
        </div>

        <h6 class="progress-bar-title">Be social!</h6>
        <ul class="social">
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-gplus"></i></a></li>
            <li><a href="#"><i class="icon-vimeo"></i></a></li>
            <li><a href="#"><i class="icon-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
        </ul>
    </div>
</div>