<div class="row">
    <div class="col-md-4 col-sm-6">
        <figure>
            <img src="{{ asset('assets/img/trainers/trainer-anca.jpg') }}" alt="//">
        </figure>
    </div>
    <div class="col-md-8 col-sm-6">
        <h2>Trainer Bio</h2>
        {% include 'Bio/blocks/_bio_text.html.twig' %}
        <h6 class="progress-bar-title">Be social!</h6>
        <ul class="social">
            <li><a target="_blank" href="https://www.facebook.com/Ancamarcusfitness/"><i class="icon-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/AncaMarcusfit"><i class="icon-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/ancamarcusfitness/"><i class="icon-instagram"></i></a></li>
        </ul>
    </div>
</div>