<div class="high-boxes">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="#"><figure>
                        <img src="{{ asset('assets/img/about/high01.jpg') }}" alt="//">
                        <figcaption>
                            <strong>Learn Boxing</strong>
                            <p>Lorem ipsum dolor sit amet, consecto website.</p>
                        </figcaption>
                    </figure></a>
            </div>
            <div class="col-md-4">
                <a href="#"><figure>
                        <img src="{{ asset('assets/img/about/high02.jpg') }}" alt="//">
                        <figcaption>
                            <strong>Crossfit</strong>
                            <p>Lorem ipsum dolor sit amet, consecto website.</p>
                        </figcaption>
                    </figure></a>
            </div>
            <div class="col-md-4">
                <a href="#"><figure>
                        <img src="{{ asset('assets/img/blog/high-boxes03.jpg') }}" alt="//">
                        <figcaption>
                            <strong>New Pilates</strong>
                            <p>Lorem ipsum dolor sit amet, consecto website.</p>
                        </figcaption>
                    </figure></a>
            </div>
        </div>
    </div>
</div>
