<div class="highlights">
    <div class="container">
        <p><a href="#"><i class="icon-star"></i> Membership Cards: 25% discount for all members. Discount on services and treatments at the GymBase for all membership cards holders.</a></p>
    </div>
</div>